.gm-style-iw-d {
    background-color: #F2F7F2 !important;
}

.gm-style-iw-c {
    background-color: #F2F7F2 !important;
}

.gm-style .gm-style-iw {
    background-color: #F2F7F2 !important;
}

.gm-style-iw-t {
    background-color: #F2F7F2 !important;
}
