
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    background: #0FA3B1;
    /* background: #6ABCC3; old app background color*/
}

body {
    height: 100%;
    font-family: "Cuprum", sans-serif;
    min-width: 300px;
}
